<configuration>
  <system.webServer>
    <!-- Configuración de WebSocket (deshabilitada) -->
    <webSocket enabled="false" />
    
    <handlers>
      <!-- Manejador de IISNode para procesar las solicitudes Node.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Regla de reescritura: Eliminar el prefijo 'Dulcinea' y redirigir a 'public' -->
      <rule name="Rewrite Dulcinea to public">
        <match url="^Dulcinea/(.*)" />
        <action type="Rewrite" url="public/{R:1}" />
      </rule>

        <!-- Regla para archivos estáticos que ya están en la carpeta public -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <!-- Regla para manejar contenido dinámico (como server.js) -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Seguridad: Filtrar la carpeta 'node_modules' -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Permitir que los errores HTTP sean procesados por Node.js -->
    <httpErrors existingResponse="PassThrough" />
    
    <iisnode node_env="production" />
  </system.webServer>
</configuration>
